.text {
  color: red;
  padding: 3rem;
}

#close-button {
  position: fixed;
  top: 15px;
  right: 15px;
  z-index: 9999;
}

.form {
  position: fixed;
  top: 100px;
  z-index: 999;
}

.form2 {
  display: none;
}

.form-screen {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(7, 7, 7, 0.664);
}
